openapi: 3.1.0
info:
  title: Penlight Quiz v2 API
  version: 1.0.0
  description: Go model and implemented HTTP contract (Ref: ADR-0004, ADR-0036, ADR-0037).
servers:
  - url: https://penlight.aooba.net
    description: Production Environment
  - url: http://localhost:8080
    description: Local Development Server
paths:
  /healthz:
    get:
      summary: ヘルスチェック
      responses:
        "200":
          description: 正常稼働
          content:
            text/plain:
              schema:
                type: string
  /api/v1/sync/bootstrap:
    get:
      summary: オフライン用マスタ一括取得
      parameters:
        - name: include_graduated
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: true の場合は卒業生も含める
      responses:
        "200":
          description: 最新マスタデータ
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapResponse"
        "304":
          description: 更新なし
        "400":
          $ref: "#/components/responses/InvalidParams"
  /api/v1/quiz/answers/batch:
    post:
      summary: オフライン回答ログ一括同期
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchAnswerRequest"
      responses:
        "200":
          description: 同期結果
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchAnswerResponse"
  /api/v1/quiz/statistics:
    get:
      summary: クイズ回答統計取得
      parameters:
        - name: user_id
          in: query
          schema:
            $ref: "#/components/schemas/ID"
        - name: group_id
          in: query
          schema:
            $ref: "#/components/schemas/ID"
        - name: target_type
          in: query
          schema:
            $ref: "#/components/schemas/TargetType"
        - name: limit
          in: query
          schema:
            type: integer
            default: 5
      responses:
        "200":
          description: 統計データ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuizStatisticsResponse"
  /api/v1/members/{id}/metadata-edit-proposals:
    post:
      summary: メンバー編集提案の送信
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitMetadataEditProposalRequest"
      responses:
        "200":
          description: 保存された提案（同一内容の再送は既存結果）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetadataEditProposal"
        "400":
          $ref: "#/components/responses/InvalidParams"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/admin/metadata-edit-proposals:
    get:
      summary: メタデータ編集提案一覧
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [pending, approved, rejected]
            default: pending
      responses:
        "200":
          description: 提案一覧
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MetadataEditProposal"
        "400":
          $ref: "#/components/responses/InvalidParams"
  /api/v1/admin/metadata-edit-proposals/{id}/approve:
    post:
      summary: メタデータ編集提案の承認
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ID"
      responses:
        "200":
          description: 承認済み提案（再承認は既存結果）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetadataEditProposal"
        "400":
          $ref: "#/components/responses/InvalidParams"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/admin/metadata-edit-proposals/{id}/reject:
    post:
      summary: メタデータ編集提案の却下
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RejectMetadataEditProposalRequest"
      responses:
        "200":
          description: 却下済み提案（再却下は既存結果）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetadataEditProposal"
        "400":
          $ref: "#/components/responses/InvalidParams"
        "404":
          $ref: "#/components/responses/NotFound"
  /images/{key}:
    get:
      summary: 不変画像取得
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 画像バイナリ
          content:
            image/webp:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/NotFound"
components:
  responses:
    InvalidParams:
      description: パラメータ不正
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/AppError"
    NotFound:
      description: 対象が存在しない
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/AppError"
  schemas:
    AppError:
      type: object
      properties:
        status:
          type: integer
        code:
          type: string
        title:
          type: string
        detail:
          type: string
        invalid_params:
          type: array
          items:
            $ref: "#/components/schemas/ParamError"
      required: [status, code, title, detail]
    ParamError:
      type: object
      properties:
        field:
          type: string
        message:
          type: string
      required: [field, message]
    BootstrapResponse:
      type: object
      properties:
        series:
          type: array
          items:
            $ref: "#/components/schemas/Series"
        groups:
          type: array
          items:
            $ref: "#/components/schemas/Group"
        colors:
          type: array
          items:
            $ref: "#/components/schemas/Color"
        photo_types:
          type: array
          items:
            $ref: "#/components/schemas/PhotoType"
        members:
          type: array
          items:
            $ref: "#/components/schemas/Member"
        songs:
          type: array
          items:
            $ref: "#/components/schemas/Song"
        generated_at:
          type: string
          format: date-time
      required: [series, groups, colors, photo_types, members, songs, generated_at]
    Series:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ID"
        name:
          type: string
        slug:
          type: string
        display_order:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, name, slug, display_order, created_at, updated_at]
    ID:
      type: string
      pattern: "^(ser|grp|col|mem|sng|img|pht|quiz|usr|ans|prp)_[0-9a-f]{32}$"
    Group:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ID"
        series_id:
          $ref: "#/components/schemas/ID"
        name:
          type: string
        short_name:
          type: string
        slug:
          type: string
        theme_color_hex:
          type: string
        display_order:
          type: integer
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, series_id, name, short_name, slug, theme_color_hex, display_order, is_active, created_at, updated_at]
    Color:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ID"
        group_id:
          $ref: "#/components/schemas/ID"
        name:
          type: string
        hex_code:
          type: string
        display_order:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, name, hex_code, display_order, created_at, updated_at]
    PhotoType:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ID"
        group_id:
          $ref: "#/components/schemas/ID"
        slug:
          type: string
        name:
          type: string
        display_order:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, group_id, slug, name, display_order, created_at, updated_at]
    Member:
      type: object
      properties:
        metadata_revision:
          type: integer
        id:
          $ref: "#/components/schemas/ID"
        group_id:
          $ref: "#/components/schemas/ID"
        family_name:
          type: string
        given_name:
          type: string
        family_name_kana:
          type: string
        given_name_kana:
          type: string
        generation:
          type: integer
        status:
          $ref: "#/components/schemas/MemberStatus"
        penlight:
          $ref: "#/components/schemas/PenlightPair"
        images:
          type: array
          items:
            $ref: "#/components/schemas/MemberImage"
        joined_at:
          type: string
          format: date-time
        graduated_at:
          type: string
          format: date-time
        verified_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [metadata_revision, id, group_id, family_name, given_name, family_name_kana, given_name_kana, generation, status, penlight, created_at, updated_at]
    MemberStatus:
      type: string
      enum: [active, graduated, hiatus]
    PenlightPair:
      type: object
      properties:
        left_color_id:
          $ref: "#/components/schemas/ID"
        right_color_id:
          $ref: "#/components/schemas/ID"
        ordered:
          type: boolean
      required: [left_color_id, right_color_id, ordered]
    MemberImage:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ID"
        member_id:
          $ref: "#/components/schemas/ID"
        photo_type_id:
          $ref: "#/components/schemas/ID"
        photo_type:
          $ref: "#/components/schemas/PhotoType"
        image_key:
          type: string
        is_primary:
          type: boolean
        display_order:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, member_id, photo_type_id, image_key, is_primary, display_order, created_at, updated_at]
    Song:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ID"
        group_id:
          $ref: "#/components/schemas/ID"
        title:
          type: string
        kana:
          type: string
        color1_id:
          $ref: "#/components/schemas/ID"
        color2_id:
          $ref: "#/components/schemas/ID"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, group_id, title, color1_id, created_at, updated_at]
    BatchAnswerRequest:
      type: object
      properties:
        answers:
          type: array
          items:
            $ref: "#/components/schemas/BatchAnswerItem"
      required: [answers]
    BatchAnswerItem:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ID"
        user_id:
          $ref: "#/components/schemas/ID"
        quiz_question_id:
          $ref: "#/components/schemas/ID"
        target_member_id:
          $ref: "#/components/schemas/ID"
        target_song_id:
          $ref: "#/components/schemas/ID"
        group_id:
          $ref: "#/components/schemas/ID"
        is_correct:
          type: boolean
        response_time_ms:
          type: integer
        answered_at:
          type: string
          format: date-time
      required: [id, quiz_question_id, group_id, is_correct, response_time_ms, answered_at]
    BatchAnswerResponse:
      type: object
      properties:
        synced_count:
          type: integer
        synced_ids:
          type: array
          items:
            $ref: "#/components/schemas/ID"
      required: [synced_count, synced_ids]
    QuizStatisticsResponse:
      type: object
      properties:
        total_answers:
          type: integer
        total_correct:
          type: integer
        accuracy_rate:
          type: number
        average_response_time_ms:
          type: integer
        groups:
          type: array
          items:
            $ref: "#/components/schemas/GroupStat"
        weak_targets:
          type: array
          items:
            $ref: "#/components/schemas/TargetStat"
        extra:
          type: object
          additionalProperties: true
      required: [total_answers, total_correct, accuracy_rate, average_response_time_ms]
    GroupStat:
      type: object
      properties:
        group_id:
          $ref: "#/components/schemas/ID"
        group_name:
          type: string
        total_answers:
          type: integer
        correct_answers:
          type: integer
        accuracy_rate:
          type: number
        average_response_time_ms:
          type: integer
        metadata:
          type: object
          additionalProperties: true
      required: [group_id, group_name, total_answers, correct_answers, accuracy_rate, average_response_time_ms]
    TargetStat:
      type: object
      properties:
        target_id:
          $ref: "#/components/schemas/ID"
        target_type:
          $ref: "#/components/schemas/TargetType"
        group_id:
          $ref: "#/components/schemas/ID"
        name:
          type: string
        total_answers:
          type: integer
        correct_answers:
          type: integer
        accuracy_rate:
          type: number
        average_response_time_ms:
          type: integer
        metadata:
          type: object
          additionalProperties: true
      required: [target_id, target_type, group_id, name, total_answers, correct_answers, accuracy_rate, average_response_time_ms]
    TargetType:
      type: string
      enum: [member, song]
    SubmitMetadataEditProposalRequest:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ID"
        base_revision:
          type: integer
        changes:
          $ref: "#/components/schemas/MetadataEditChanges"
      required: [id, base_revision, changes]
    MetadataEditChanges:
      type: object
      properties:
        penlight:
          $ref: "#/components/schemas/PenlightChange"
        generation:
          $ref: "#/components/schemas/GenerationChange"
        status:
          $ref: "#/components/schemas/MemberStatusChange"
        primary_image_id:
          $ref: "#/components/schemas/PrimaryImageChange"
        image_photo_types:
          type: array
          items:
            $ref: "#/components/schemas/ImagePhotoTypeChange"
    PenlightChange:
      type: object
      properties:
        before:
          $ref: "#/components/schemas/PenlightPair"
        after:
          $ref: "#/components/schemas/PenlightPair"
      required: [before, after]
    GenerationChange:
      type: object
      properties:
        before:
          type: integer
        after:
          type: integer
      required: [before, after]
    MemberStatusChange:
      type: object
      properties:
        before:
          $ref: "#/components/schemas/MemberStatus"
        after:
          $ref: "#/components/schemas/MemberStatus"
      required: [before, after]
    PrimaryImageChange:
      type: object
      properties:
        before:
          $ref: "#/components/schemas/ID"
        after:
          $ref: "#/components/schemas/ID"
      required: [before, after]
    ImagePhotoTypeChange:
      type: object
      properties:
        image_id:
          $ref: "#/components/schemas/ID"
        before:
          $ref: "#/components/schemas/ID"
        after:
          $ref: "#/components/schemas/ID"
      required: [image_id, before, after]
    RejectMetadataEditProposalRequest:
      type: object
      properties:
        reason:
          type: string
    MetadataEditProposal:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ID"
        member_id:
          $ref: "#/components/schemas/ID"
        base_revision:
          type: integer
        changes:
          $ref: "#/components/schemas/MetadataEditChanges"
        status:
          $ref: "#/components/schemas/MetadataEditProposalStatus"
        submitted_at:
          type: string
          format: date-time
        approved_at:
          type: string
          format: date-time
        rejected_at:
          type: string
          format: date-time
        proposer_user_id:
          $ref: "#/components/schemas/ID"
        approver_user_id:
          $ref: "#/components/schemas/ID"
        rejection_reason:
          type: string
      required: [id, member_id, base_revision, changes, status, submitted_at]
    MetadataEditProposalStatus:
      type: string
      enum: [pending, approved, rejected]
